<!-- about.html-->

{% extends "base.html" %}
{% block title %}To Do List{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>The To Do List</h1>
  <p class="lead">You can learn more about my website here.</p>
  <div>Add a new todo item:  
    <form action="{{ url_for('add_item') }}" method="POST">  
        <input type="text" name="todoitem">  
        <input type="submit" value="Add Item" class="button">  
    </form>
    <input type="submit" value="Add Item" class="button">  
  <div>  
      <!-- <h2>Incomplete Items</h2>  
      <ul>  
          {% for todo in incomplete %}  
          <li style="font-size: 30pt" class='mark'>{{ todo.item }} <a href="{{ url_for('complete', id=items.id) }}">Mark As Complete</a></li>  
          {% endfor %}     
      </ul>   -->
      <h2>Completed Items</h2>  
      <ul> 
        <li>{{complete.get_json()}}</li> 
        <li>{{complete.get_json().count}}</li> 
        <li>{{complete.get_json().items}}</li> 
        <li>{{complete.get_json().keys()}}</li> 
        <li>{{complete.get_json().values()}}</li> 
        <li>{{complete.get_json().values()[1]}}</li> 
          {% for todo in complete.get_json() %}  
          <output name="{{ todo.id }}">{{ todo }}
          <!-- <li style="font-size: 30pt">{{ todo.item }}</li>  -->
          <!-- <li style="font-size: 30pt">{{ todo.status }}</li>   -->
          {% endfor %}  
      </ul>  

      <!-- <div id="myData"></div>
      <script src='index.js'></script> -->
  </div>  
</div>  
</div>
{% endblock %}
